<html>
<head>
<title>com.test.jbehave.stories.frontend.adresgegevensOphalen</title>
<style type="text/css" media="all">
@import url( "./style/jbehave-core.css" );
</style>
</head>
<body>
<div class="story">
<h1></h1>
<div class="path">com/test/jbehave/stories/frontend/adresgegevensOphalen.story</div>
<div class="scenario">
<h2>Scenario: when the zipcode and housenumber are entered the street and city should be automaticly filled in</h2>
<div class="step successful">Given the aanmelding client form is opened</div>
<div class="step successful">When I enter a valid postcode and huisnummer</div>
<div class="step failed">Then the straat and plaats should correctly be generated <span class="keyword failed">(FAILED)</span><br/><span class="message failed">org.junit.ComparisonFailure: expected:&lt;[Burgemeester Beckersweg]&gt; but was:&lt;[]&gt;</span></div>
<pre class="failure">org.junit.ComparisonFailure: expected:&lt;[Burgemeester Beckersweg]&gt; but was:&lt;[]&gt;
	at org.junit.Assert.assertEquals(Assert.java:115)
	at org.junit.Assert.assertEquals(Assert.java:144)
	at com.test.jbehave.steps.frontend.AanmeldingClientSteps.checkGeneratedAdress(AanmeldingClientSteps.java:93)
	(reflection-invoke)
	at org.jbehave.core.steps.StepCreator$ParametrisedStep.perform(StepCreator.java:599)
	at org.jbehave.core.embedder.PerformableTree$FineSoFar.run(PerformableTree.java:333)
...</pre>
</div>
</div>

</body>
<!--  SyntaxHighlighter resources:  should be included at end of body -->
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shCore.css"/>
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shThemeRDark.css"/>
<script language="javascript" src="./js/sh-3.0.83/shCore.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushBash.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushCss.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushDiff.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushGroovy.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJava.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJScript.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPlain.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPython.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushRuby.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushScala.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushXml.js"></script>
<script language="javascript" src="./js/shBrushBdd.js"></script>
<script type="text/javascript">
    SyntaxHighlighter.defaults['gutter'] = false;
    SyntaxHighlighter.defaults['toolbar'] = false;    
    SyntaxHighlighter.all();
</script>
</html>
